build/
runtime/D3Dcompiler_47.dll
runtime/Qt6Core.dll
runtime/Qt6Gui.dll
runtime/Qt6Network.dll
runtime/Qt6Pdf.dll
runtime/Qt6Svg.dll
runtime/Qt6Widgets.dll
runtime/libgcc_s_seh-1.dll
runtime/libstdc++-6.dll
runtime/libwinpthread-1.dll
runtime/opengl32sw.dll
runtime/generic/
runtime/iconengines/
runtime/imageformats/
runtime/networkinformation/
runtime/platforms/
runtime/styles/
runtime/tls/
runtime/translations/
runtime/chinese_template.qm
runtime/yz-ui-template.exe
*.qm
