/* -----------------------------------------------------------------------------
   Component: Icons
----------------------------------------------------------------------------- */

// Camera Lock
// -----------------------------------------------------------------------------

.icon-lock {
  height: 16px;
  padding: 1px;
  width: 16px;
  &:unchecked {
    image: url('@{img-url}/cam_unlock.svg');
  }
  &:checked {
    background-color: @lock-bg-color;
    border-color: @lock-border-color;
    image: url('@{img-url}/cam_lock.svg');
    &:hover {
      background-color: @lock-bg-color-hover;
      border-color: @lock-border-color;
    }
  }
}

// Force Square Pixel
// -----------------------------------------------------------------------------

.icon-fsp {
  height: 16px;
  image: url('@{img-url}/fsp_unchecked.svg');
  padding: 1px;
  width: 16px;
  &:checked {
    background-color: @fsp-bg-color;
    border-color: @fsp-border-color;
    image: url('@{img-url}/fsp_checked.svg');
    &:hover {
      background-color: @fsp-bg-color-hover;
      border-color: @fsp-border-color;
    }
  }
}
