/* -----------------------------------------------------------------------------
   Component: Icons
----------------------------------------------------------------------------- */

// Camera Lock
// -----------------------------------------------------------------------------

.icon-lock {
  border: 1px solid transparent;
  height: 18px;
  padding: 0;
  width: 18px;
  &:unchecked {
    image: url('@{img-url}/cam_unlock.svg');
  }
  &:checked {
    image: url('@{img-url}/cam_lock.svg');
  }
}

// Force Square Pixel
// -----------------------------------------------------------------------------

.icon-fsp {
  height: 18px;
  image: url('@{img-url}/fsp_unchecked.svg');
  padding: 1px;
  width: 18px;
  &:checked {
    image: url('@{img-url}/fsp_checked.svg');
  }
}
